
@{
    ViewBag.Title = "ViewReport";
    Layout = "~/Views/Shared/_Report.cshtml";
}


<div class="content-wrapperz">
    <section class="contentz">
        <div class="container-fluidz">
            <div class="card">
                <!--<div class="card-header">
                    <h6 class="card-title"><strong>Reports</strong></h6>
                </div>-->
                <div class="card-body">

                    <!--<button class="btn btn-success" ng-click="export()" ng-if="responseCode=='00'">Export to PDF</button>-->
                    <div class="row" style="font-size: medium !important">
                        <div class="col-lg-12">
                            <div class="container">
                                <div class="panel panel-default">
                                    <!--<div class="panel-heading">
    <div class="row">
        <div class="col-md-12"><strong>-->
                                    <!--<img src="~/Content/Image/ipsllogo.png" height="40" />-->
                                    <!--</strong></div>
        </div>
    </div>-->
                                    <div class="panel-body">

                                        <div class="row">
                                            <table class="table table-borderedss table-striped">

                                                <tr>
                                                    <!--<td class="col-md-1z" valign="middle"></td>-->
                                                    <td class="col-md-11z" colspan="3" align="center" valign="middle" style="white-space: nowrap;">
                                                        <img src="~/Content/Image/logoipsl.png" />&nbsp;&nbsp;<br />
                                                        <h4><strong>INTEGRATED PAYMENT SERVICES LIMITED</strong></h4>

                                                    </td>
                                                </tr>
                                                <tr>
                                                </tr>

                                                <tr><td class="col-md-11z" align="center" colspan="3"><h6><strong>BANKS PERFORMANCE AND EFFICIENCY RATING ON PESALINK</strong></h6><!--<h6> </h6>--></td></tr>
                                                <tr><td class="col-md-11z" align="center" colspan="3"><h6><strong>Analysis for @ViewBag.headingDate</strong></h6><!--<h6> </h6>--></td></tr>

                                                <tr><td align="center" colspan="3"><strong><h6><strong>BANK: @ViewBag.BankName</strong></h6></strong></td><!--<td align="left"><strong></strong></td>--></tr>
                                            </table>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <table class="tablez table-stripedz" border="1" style="border-color: black !important;font-size:small !important;">
                                                    <tr style="border:none !important">
                                                        <td colspan="3" style="border:none !important"></td>
                                                        <th colspan="3" align="right" style="border:none !important;background-color:black !important; color:white !important;">

                                                            <u><medium><center>Analysis for<br /> @ViewBag.headingDate</center></medium></u>

                                                        </th>
                                                        <th style="border:none !important">&nbsp;&nbsp;</th>
                                                        <th colspan="3" align="right" style="border:none !important; background-color:black !important; color:white !important;">

                                                            <u><medium><center>Analysis for<br /> @ViewBag.WeeklyDate</center></medium></u></h6>

                                                        </th>
                                                    </tr>


                                                    <tr>
                                                        <td style="width:40px !important;"></td>
                                                        <th class="col-sm-1z">OPERATIONAL PLATFROMS</th>
                                                        <th class="col-sm-10z">MEASURES</th>
                                                        <th class="col-sm-1z">ASSESSMENT<br /><small><strong><i>Expected Score=0.00%</i></strong></small></th>
                                                        <th class="col-sm-1z">RANKING</th>
                                                        <th class="col-sm-1z">BEST BANK RANKING</th>
                                                        <th style="border: none; !important;">&nbsp;&nbsp;</th>
                                                        <th class="col-sm-1z">ASSESSMENT<br /><small><strong><i>Expected Score=0.00%</i></strong></small></th>
                                                        <th class="col-sm-1z">RANKING</th>
                                                        <th class="col-sm-1z">BEST BANK RANKING</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-sm-1z"><strong>1.)</strong></td>
                                                        <td><strong>PESALINK</strong></td>
                                                        <td><strong>1. Trans. Failure</strong></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="border: none; !important;"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td><strong>1.) INWARD</strong></td>
                                                        <td style="white-space: nowrap;"><i><strong>(Code 911) - System Timed Out:&nbsp;&nbsp; </strong></i><p>Bank interface could not respond timely</p></td>
                                                        <td>@ViewBag.In911%</td>
                                                        <td>@ViewBag.In911r</td>
                                                        <td>@ViewBag.In911bb%</td>
                                                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                                                        <td>@ViewBag.In911w%</td>
                                                        <td>@ViewBag.In911wr</td>
                                                        <td>@ViewBag.In911bbw%</td>
                                                    </tr>
                                                    <!--<tr>
                        <td></td>
                        <td></td>
                        <td><i>(Code 911) - Issuer timed out </i></td>
                        <td>@ViewBag.In911%</td>
                        <td>@ViewBag.In911r</td>
                        <td>@ViewBag.In911bb%</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.In911w%</td>
                        <td>@ViewBag.In911wr</td>
                        <td>0.00%</td>
                    </tr>-->
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="white-space: nowrap;"><i><strong>(Code 912) - Bank Interface Unavailable: &nbsp;&nbsp;</strong></i><p>Bank interface cannot be reached</p></td>
                                                        <td>@ViewBag.In912%</td>
                                                        <td>@ViewBag.In912r</td>
                                                        <td>@ViewBag.In912bb%</td>
                                                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                                                        <td>@ViewBag.In912w%</td>
                                                        <td>@ViewBag.In912wr</td>
                                                        <td>@ViewBag.In911bbw%</td>
                                                    </tr>
                                                    <!--
                    <tr>
                        <td></td>
                        <td></td>
                        <td><i>(Code 111) -  Invalid Card Number</i></td>
                        <td>@ViewBag.In111%</td>
                        <td>@ViewBag.In111r</td>
                        <td>@ViewBag.In111bb%</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.In111w%</td>
                        <td>@ViewBag.In111wr</td>
                        <td>0.00%</td>
                    </tr>



                    <tr>
                        <td></td>
                        <td></td>
                        <td><i>(Code 400) - Accepted (for reversal) </i></td>
                        <td>@ViewBag.In400%</td>
                        <td>@ViewBag.In400r</td>
                        <td>@ViewBag.In400bb%</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.In400w%</td>
                        <td>@ViewBag.In400wr</td>
                        <td>0.00%</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td><i>(Code 100) - (no comments)</i></td>
                        <td>@ViewBag.In100%</td>
                        <td>@ViewBag.In100r</td>
                        <td>@ViewBag.In100bb%</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.In100w%</td>
                        <td>@ViewBag.In100wr</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><i>(Code 102) - Suspected Fraud</i></td>
                        <td>@ViewBag.In102%</td>
                        <td>@ViewBag.In102r</td>
                        <td>@ViewBag.In102bb%</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.In102w%</td>
                        <td>@ViewBag.In102wr</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><i>(Code 120) - Transaction not permitted to terminal</i></td>
                        <td>@ViewBag.In120%</td>
                        <td>@ViewBag.In120r</td>
                        <td>@ViewBag.In120bb%</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.In120w%</td>
                        <td>@ViewBag.In120wr</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><i>(Code 118) - no card record</i></td>
                        <td>@ViewBag.In118%</td>
                        <td>@ViewBag.In118r</td>
                        <td>@ViewBag.In118bb%</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.In118w%</td>
                        <td>@ViewBag.In118wr</td>
                        <td>0.00%</td>
                    </tr>-->

                                                    <tr>
                                                        <td></td>
                                                        <td><strong>2.) OUTWARD</strong></td>
                                                        <td style="white-space: nowrap;"><i><strong>(Code 121) - Invalid Amount: &nbsp;&nbsp;</strong></i><p>Transaction amount less than transaction fee</p></td>
                                                        <td>@ViewBag.Out121%</td>
                                                        <td>@ViewBag.Out121r</td>
                                                        <td>@ViewBag.Out121bb%</td>
                                                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                                                        <td>@ViewBag.Out121w%</td>
                                                        <td>@ViewBag.Out121wr</td>
                                                        <td>@ViewBag.Out121bbw%</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="white-space: nowrap;"><i><strong>(Code 909) - System Malfunction: &nbsp;&nbsp;</strong></i><p>Invalid message format</p></td>
                                                        <td>@ViewBag.Out909%</td>
                                                        <td>@ViewBag.Out909r</td>
                                                        <td>@ViewBag.Out909bb%</td>
                                                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                                                        <td>@ViewBag.Out909w%</td>
                                                        <td>@ViewBag.Out909wr</td>
                                                        <td>@ViewBag.Out909bbw%</td>
                                                    </tr>

                                                    <!--end of new additions-->
                                                    <!--<tr>
                        <td></td>
                        <td></td>
                        <td><i>(Code 111) - invalid card number</i></td>
                        <td>@ViewBag.Out111%</td>
                        <td>@ViewBag.Out111r</td>
                        <td>@ViewBag.Out111bb%</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.Out111w%</td>
                        <td>@ViewBag.Out111wr</td>
                        <td>0.00%</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td><i>(Code 912) - Issuer unavailable</i></td>
                        <td>@ViewBag.Out912%</td>
                        <td>@ViewBag.Out912r</td>
                        <td>@ViewBag.Out912bb%</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.Out912w%</td>
                        <td>@ViewBag.Out912wr</td>
                        <td>0.00%</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td><i>(Code 911) - Issuer timed out</i></td>
                        <td>@ViewBag.Out911%</td>
                        <td>@ViewBag.Out911r</td>
                        <td>@ViewBag.Out911bb%</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.Out911w%</td>
                        <td>@ViewBag.Out911wr</td>
                        <td>0.00%</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td><i>(Code 100) - (no comments)</i></td>
                        <td>@ViewBag.Out100%</td>
                        <td>@ViewBag.Out100r</td>
                        <td>@ViewBag.Out100bb%</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.Out100w%</td>
                        <td>@ViewBag.Out100wr</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><i>(Code 400) - Accepted (for reversal)</i></td>
                        <td>@ViewBag.Out400%</td>
                        <td>@ViewBag.Out400r</td>
                        <td>@ViewBag.Out400bb%</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.Out400w%</td>
                        <td>@ViewBag.Out400wr</td>
                        <td>0.00%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><i>(Code 120) - Transaction not permitted to terminal</i></td>
                        <td>@ViewBag.Out120%</td>
                        <td>@ViewBag.Out120r</td>
                        <td>@ViewBag.Out120bb%</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.Out120w%</td>
                        <td>@ViewBag.Out120wr</td>
                        <td>@ViewBag.Out120bb%</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><i>(Code 118) - no card record</i></td>
                        <td>@ViewBag.Out118%</td>
                        <td>@ViewBag.Out118r</td>
                        <td>@ViewBag.Out118bb%</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.Out118w%</td>
                        <td>@ViewBag.Out118wr</td>
                        <td>0.00%</td>
                    </tr>-->
                                                    <tr style="height:20px !important">
                                                        <td class="col-sm-1z"><strong></strong></td>
                                                        <td><strong></strong></td>
                                                        <td><strong></strong></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="border: none; !important;"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <th class="col-sm-1">&nbsp;</th>
                                                        <th class="col-sm-8">&nbsp;</th>
                                                        <th class="col-sm-1">ASSESSMENT<br /><small><strong><i>Expected Score=100.00%</i></strong></small></th>
                                                        <th class="col-sm-1">RANKING</th>
                                                        <th class="col-sm-1">BEST BANK RANKING</th>
                                                        <th>&nbsp;&nbsp;</th>
                                                        <th class="col-sm-1">ASSESSMENT<br /><small><strong><i>Expected Score=100.00%</i></strong></small></th>
                                                        <th class="col-sm-1">RANKING</th>
                                                        <th class="col-sm-1">BEST BANK RANKING</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-sm-1z"><strong>2.)</strong></td>
                                                        <td><strong>NETWORK CONNECTIVITY</strong></td>
                                                        <td><strong>1. Link Average Uptime</strong></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="border: none; !important;"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td><i>Link Availability</i></td>
                                                        <td>@ViewBag.link%</td>
                                                        <td>@ViewBag.linkr</td>
                                                        <td>@ViewBag.linkbb%</td>
                                                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                                                        <td>@ViewBag.linkw</td>
                                                        <td>@ViewBag.linkwr</td>
                                                        <td>@ViewBag.linkbbw%</td>
                                                    </tr>
                                                    <!--
                                                    <tr style="height:20px !important">
                                                        <td class="col-sm-1z"><strong></strong></td>
                                                        <td><strong></strong></td>
                                                        <td><strong></strong></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="border: none; !important;"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-sm-1z"><strong>3.)</strong></td>
                                                        <td><strong>PESALINK INTERFACE</strong></td>
                                                        <td><strong>1. Interface Uptime</strong></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="border: none; !important;"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td><i>Interface Availability</i></td>
                                                        <td>@ViewBag.intf%</td>
                                                        <td>@ViewBag.intfr</td>
                                                        <td>@ViewBag.intfbb%</td>
                                                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                                                        <td>@ViewBag.intfw</td>
                                                        <td>@ViewBag.intfwr</td>
                                                        <td>@ViewBag.intfbbw%</td>
                                                    </tr>-->
                                                    <tr style="height:20px !important">
                                                        <td class="col-sm-1z"><strong></strong></td>
                                                        <td><strong></strong></td>
                                                        <td><strong></strong></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="border: none; !important;"></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                   <!-- <tr>
                                                        <td class="col-sm-1z"></td>
                                                        <td></td>
                                                        <td><i>Bank Average for Ranked Performance Measures</i></td>
                                                        <td>@ViewBag.bankrank</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="border: none; !important;"></td>
                                                        <td>@ViewBag.bankrankw</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-sm-1z"></td>
                                                        <td><strong></strong></td>
                                                        <td><i>Industry Average for Ranked Performance Measures</i></td>
                                                        <td>@ViewBag.indrank</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td style="border: none; !important;"></td>
                                                        <td>@ViewBag.indrankw</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>-->

                                                    <!--
                    <tr style="height:20px !important">
                        <td class="col-sm-1z"><strong></strong></td>
                        <td><strong></strong></td>
                        <td><strong></strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="border: none; !important;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="col-sm-1z"><strong>4</strong></td>
                        <td><strong>CUSTOMER SERVICE</strong></td>
                        <td><strong>1. Unresolved Customer Complaints</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="border: none; !important;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><i>Unresolved Complaints</i></td>
                        <td>@ViewBag.cust%</td>
                        <td>@ViewBag.custr</td>
                        <td>@ViewBag.custbb</td>
                        <td style="border: none; !important;">&nbsp;&nbsp;</td>
                        <td>@ViewBag.custw%</td>
                        <td>@ViewBag.custwr</td>
                        <td>0.00%</td>
                    </tr>

                    -->




                                                </table>
                                            </div>

                                        </div>
                                    </div><hr />
                                    <a class="list-group-item active" style="background-color:black !important;color:white !important;border:none !important"><strong>METRICS BREAKDOWN for @ViewBag.headingDate</strong></a>
                                    <!--<table class="table table-striped" style="font-size:14px !important">
        <tr><td><strong>Measures</strong></td><td><strong>Weights</strong></td><td><strong>Acceptable Standard</strong></td><td><strong>Meet Requirement</strong></td></tr>
        <tr><td><i><strong>Transaction Failure</strong></i></td><td><i><strong>@ViewBag.tf</strong></i></td><td><strong>10</strong></td><td><i><strong>@ViewBag.tfreq</strong></i></td></tr>
        <tr><td><i><strong>Network Uptime</strong></i></td><td><i><strong>@ViewBag.nu</strong></i></td><td><strong>25</strong></td><td><i><strong>@ViewBag.nureq</strong></i></td></tr>
        <tr><td><i><strong>Interface Uptime</strong></i></td><td><i><strong>@ViewBag.iu</strong></i></td><td><strong>25</strong></td><td><i><strong>@ViewBag.iureq</strong></i></td></tr>
        <tr><td><i><strong>Aggregated Rating</strong></i></td><td><i><strong>%</strong></i></td><td><i><strong></strong></i></td></tr>
        <tr><td><i><strong>Bank Rank</strong></i></td><td><i><strong></strong></i></td></tr>


    </table>-->
                                    <table class="table table-striped" style="font-size:13px !important">
                                        <tr><td><strong>Measures</strong></td><td><strong>Weights</strong></td><td><strong>Benchmark</strong></td><td><strong>Meet Requirement</strong></td></tr>
                                        <tr><td><i><strong>Transaction Success Rate</strong></i></td><td><i><strong>@ViewBag.tf%</strong></i></td><td><strong>90%</strong></td><td><i><strong>@ViewBag.tfreq</strong></i></td></tr>
                                        <tr><td><i><strong>Network Uptime</strong></i></td><td><i><strong>@ViewBag.nu%</strong></i></td><td><strong>90%</strong></td><td><i><strong>@ViewBag.nureq</strong></i></td></tr>
                                        <!--<tr><td><i><strong>Interface Uptime</strong></i></td><td><i><strong>@ViewBag.iu</strong></i></td><td><strong>25</strong></td><td><i><strong>@ViewBag.iureq</strong></i></td></tr>-->
                                        <tr><td><i><strong>Aggregated Rating</strong></i></td><td><i><strong>@ViewBag.aggr%</strong></i></td><td><i><strong>90%</strong></i></td><td><i><strong>@ViewBag.aggreq</strong></i></tr>
                                        <tr><td><i><strong>Bank Rank</strong></i></td><td><i><strong>@ViewBag.weekposition</strong></i></td><td></td><td></td></tr>


                                    </table>
                                    <div class="row">
                                        <div class="col-lg-12"><hr /></div>
                                    </div>
                                    <div class="panel-footer">

                                        <div class="row">

                                            <div class="col-md-4"><strong>Generated By IPSL Statistics</strong></div>
                                            <div class="col-md-8"><center><strong>Email: support@ipsl.co.ke</strong></center></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                      
                    </div>
                   

                </div>
            </div>
        </div>

    </section>
</div>




