<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IPSL | Transaction Performance Monitoring System</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Content/Image/logoipsl.png">
    @*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css" rel="stylesheet">*@
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/Plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/Content/Plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/Plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Content/Plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/Plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/Plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/Plugins/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>*@
    @*<script src="~/Scripts/angular-animate.js"></script>
        <script src="~/Scripts/angular-touch.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https: //cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https: //cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-touch.js"></script>

    <script src="~/Scripts/ui-bootstrap-tpls-2.5.0.min.js"></script>



    <style>
        .card {
            background-color: azure !important;
            /*background-image: url('../Content/Image/ground.jpg')*/
        }

        .content-wrapper {
            /* background-color: lightsteelblue !important;*/
            background-image: url('../Content/Image/ground.jpg');
        }
        .contenty {
            /* background-color: lightsteelblue !important;*/
            background-image: url('../TransactionMonitoring/Content/Image/ground.jpg');
        }
    </style>


</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        @*@if(Session["email"]==null || Session["name"]==null) {
                Response.Redirect("Index");
            }*@
        <!-- Navbar -->
        <nav class="main-headers navbar navbar-expand navbar-white navbar-default">
            <!-- Left navbar links -->
            <img src="~/Content/Image/logoipsl.png" height="60" width="60" alt="IPSL" class="brand-image img-circle elevation-3"
                 style="opacity: .8" /> &nbsp;<h4><strong>INTEGRATED PAYMENT SERVICES LIMITED</strong></h4>
            @*<ul class="navbar-nav">
                        <li class="nav-item"></li>
                        <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                        <li class="nav-item d-none d-sm-inline-block">

                        </li>

                    </ul>*@

            <!-- SEARCH FORM -->
            @*<form class="form-inline ml-3">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search" ng-model="myfilter">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>*@

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                @*<li class="nav-item dropdown">
                        <a class="nav-link" href="@Url.Action("HomePage", "Home")">
                            <i class="fa fa-home"></i>&nbsp;Home

                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="@Url.Action("Dashboard", "Home")">
                            <i class="fa fa-tachometer-alt"></i>&nbsp;Dashboard

                        </a>

                    </li>
                     Messages Dropdown Menu
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="@Url.Action("Users", "Home")">
                            <i class="fas fa-user-friends"></i>&nbsp;Users

                        </a>

                    </li>*@
                <li class="nav-item dropdown">

                    <a class="nav-link btn btn-info" href="@Url.Action("Login", "Home")" >
                        <!--<i class="fas fa-cogs"></i>-->&nbsp;<strong>Login</strong>

                    </a>

                </li>
                <!-- Notifications Dropdown Menu -->
                @*<li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        Profile &nbsp;<i class="fa fa-arrow-down"></i>
                        @*<span class="badge badge-warning navbar-badge">15</span>*@
                @* </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("ChangePassword", "Home")" class="dropdown-item">
                                <i class="fa fa-key"></i> Change Password

                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="@Url.Action("Logout", "Home")" class="dropdown-item">
                                <i class="fa fa-power-off" aria-hidden="true"></i> Logout

                            </a>

                        </div>
                    </li>*@

            </ul>
        </nav>
        <div class="row" style="margin:0px,40px,0px,40px !important;">
            <div class="col-lg-12" style="background-color:black !important; padding:10px !important; color:white;">
                <div class="col-md-6"><!--Welcome @Session["name"]--></div>
            </div>
        </div>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <!--Begin side section-->
        <!--End of Aside section-->
        @RenderBody()
        <footer class="main-footer">
            <strong>Copyright &copy; @DateTime.Now.Year <a href="http://ipsl.co.ke">IPSL</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.1
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->

    <script src="~/Content/Plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/Plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Content/Plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/Content/dist/js/demo.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="~/Content/Plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/Content/Plugins/raphael/raphael.min.js"></script>
    <script src="~/Content/Plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/Content/Plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Content/Plugins/chart.js/Chart.min.js"></script>

    <!-- PAGE SCRIPTS -->
    <script src="~/Content/dist/js/pages/dashboard2.js"></script>
</body>
</html>
